<style>
  .profiles {
    position: relative;
  }

  .profiles > * {
    position: absolute;
    top: -6em;
  }

  .profiles > *:last-child {
    right: 0;
  }

  @media (min-width: 42em) {
    .profiles > * {
      top: -6.5em;
    }
  }

  @media (min-width: 64em) {
    .profiles > * {
      top: -7em;
    }
  }
</style>

<div class="profiles">
  <a href="www.linkedin.com/in/dieteratwork" target="_blank">
    <img src="/assets/img/linkedin.png" width="32" height="32"
         style="display: block; margin: 0 10px;">
  </a>
</div>
