<hr/>

<h1>Experience</h1>

{% for project in site.data.projects %}

{% if forloop.index0 > 0 %}
<hr/>
{% endif %}

<h2>
  {{ project.name }}
  <small style="font-size: 0.75em;">
    {% for site in project.sites %}<a
    href="{{ site }}" target="_blank"><img
    src="/assets/img/link.png" width="24" height="24" style="position: relative; top: 4px;"></a>{% endfor %}{% for link in project.portfolio %}<a
    href="{{ link }}" target="_blank"><img
    src="/assets/img/portfolio_link.png" width="24" height="24" style="position: relative; top: 4px;"></a>{% endfor %}
  </small>
</h2>

<p>
  <strong>Role</strong> {{ project.role }}
  <br/>
  <strong>Timing</strong> {{ project.time }}
</p>

<p>{{ project.description | markdownify }}</p>

{% include tools_grid.html toolIds=project.core_tools size="64" %}

{% include tools_grid.html toolIds=project.tools size="48" %}

{% endfor %}
