<hr/>

<h1>Tools used</h1>

<h2>Last 6 months</h2>

{% assign projectIds = "" | split: "" %}
{% for month in (0...5) %}
{% for projectId in site.data.time[month].projects %}
{% assign projectIds = projectIds | push: projectId %}
{% endfor %}
{% endfor %}
{% assign projectIds = projectIds | uniq %}
{% assign projects = "" | split: "" %}
{% for projectId in projectIds %}
{% assign project = site.data.projects | where: "id", projectId | first %}
{% assign projects = projects | push: project %}
{% endfor %}
{% assign toolIds = "" | split: "" %}
{% for project in projects %}
{% for toolId in project.core_tools %}
{% assign toolIds = toolIds | push: toolId %}
{% endfor %}
{% for toolId in project.tools %}
{% assign toolIds = toolIds | push: toolId %}
{% endfor %}
{% endfor %}
{% assign toolIdsA = toolIds | uniq %}

{% include tools_grouped.html toolIds=toolIdsA size="64" %}

<h2>Last year</h2>

{% assign projectIds = "" | split: "" %}
{% for month in (6...11) %}
{% for projectId in site.data.time[month].projects %}
{% assign projectIds = projectIds | push: projectId %}
{% endfor %}
{% endfor %}
{% assign projectIds = projectIds | uniq %}
{% assign projects = "" | split: "" %}
{% for projectId in projectIds %}
{% assign project = site.data.projects | where: "id", projectId | first %}
{% assign projects = projects | push: project %}
{% endfor %}
{% assign toolIds = "" | split: "" %}
{% for project in projects %}
{% for toolId in project.core_tools %}
{% assign toolIds = toolIds | push: toolId %}
{% endfor %}
{% for toolId in project.tools %}
{% assign toolIds = toolIds | push: toolId %}
{% endfor %}
{% endfor %}
{% assign toolIds = toolIds | uniq %}
{% assign toolIdsB = "" | split: "" %}
{% for toolId in toolIds %}
{% unless toolIdsA contains toolId %}
{% assign toolIdsB = toolIdsB | push: toolId %}
{% endunless %}
{% endfor %}

{% include tools.html toolIds=toolIdsB size="48" %}

<h2>Long ago</h2>

{% assign projectIds = "" | split: "" %}
{% assign total = site.data.time | size | minus: 1 %}
{% for month in (11..total) %}
{% for projectId in site.data.time[month].projects %}
{% assign projectIds = projectIds | push: projectId %}
{% endfor %}
{% endfor %}
{% assign projectIds = projectIds | uniq %}
{% assign projects = "" | split: "" %}
{% for projectId in projectIds %}
{% assign project = site.data.projects | where: "id", projectId | first %}
{% assign projects = projects | push: project %}
{% endfor %}
{% assign toolIds = "" | split: "" %}
{% for project in projects %}
{% for toolId in project.core_tools %}
{% assign toolIds = toolIds | push: toolId %}
{% endfor %}
{% for toolId in project.tools %}
{% assign toolIds = toolIds | push: toolId %}
{% endfor %}
{% endfor %}
{% assign toolIds = toolIds | uniq %}
{% assign toolIdsC = "" | split: "" %}
{% for toolId in toolIds %}
{% unless toolIdsA contains toolId %}
{% unless toolIdsB contains toolId %}
{% assign toolIdsC = toolIdsC | push: toolId %}
{% endunless %}
{% endunless %}
{% endfor %}

{% include tools.html toolIds=toolIdsC size="32" %}
